<ul>
  <li>
    <a routerLink="/track-by">*ngFor directive using trackBy</a>
  </li>
  <li>
    <a routerLink="/hooks/all-hooks">Lifecycle Hooks</a>
  </li>
  <li>
    <a routerLink="/hooks/init-destroy">Lifecycle Hooks: onInit onDestroy</a>
  </li>
  <li>
    <a routerLink="/hooks/changes">Lifecycle Hooks: changes</a>
  </li>
  <li>
    <a routerLink="/hooks/do-check">Lifecycle Hooks: doCheck</a>
  </li>
  <li>
    <a routerLink="/hooks/after-view">Lifecycle Hooks: afterView</a>
  </li>
  <li>
    <a routerLink="/hooks/after-content">Lifecycle Hooks: afterContent</a>
  </li>
  <li>
    <a routerLink="/interaction/service-communicate">Component Interaction</a>
  </li>
  <li>
    <a routerLink="/component-style/hero-tour">Component Styles</a>
  </li>
  <li>
      <a routerLink="/custom-element/index">Angular Elment</a>
    </li>
  <li>
    <a routerLink="/dynamic-component/index">Dynamic Component</a>
  </li>
  <li>
    <a routerLink="/structural-directive/unless">Structural Directive</a>
  </li>
  <li>
    <a routerLink="/pipe/flying-heroes">Pipes</a>
  </li>
  <li>
    <a routerLink="/animation/enter-leave">Animation: Entry & Leave</a>
  </li>
  <li>
    <a routerLink="/animation/enter-leave-states">Animation: Enter Leave States</a>
  </li>
  <li>
    <a routerLink="/animation/keyframes">Animation: Keyframes</a>
  </li>
  <li>
    <a routerLink="/animation/groups">Animation: Groups</a>
  </li>
</ul>
<hr/>
<router-outlet></router-outlet>